server:
  port: 8080
  servlet:
    context-path: /team
##mysql和mybatis配置
spring:
  messages:
    basename: i18n/Messages,i18n/Pages
  datasource:
#    type: com.alibaba.druid.pool.DruidDataSource    # 配置当前要使用的数据源的操作类型
    driver-class-name: com.mysql.cj.jdbc.Driver     # 配置MySQL的驱动程序类
    url: jdbc:mysql://192.168.213.128:3306/test           # 数据库连接地址
    username: root                                  # 数据库用户名
    password: 123456                                 # 数据库连接密码
    dbcp2:                                          # 进行数据库连接池的配置
      min-idle: 5                                   # 数据库连接池的最小维持连接数
      initial-size: 5                               # 初始化提供的连接数
      max-total: 5                                  # 最大的连接数
      max-wait-millis: 200                          # 等待连接获取的最大超时时间

##配置mybatis
mybatis:
  config-location: classpath:mybatis/mybatis-config.xml    # mybatis配置文件所在路径
  type-aliases-package: com.zrq.demo.entity            # 定义所有操作类的别名所在包,实体映射类所在的包
  mapper-locations:                                     # 所有的mapper映射文件
    - classpath:mybatis/mapper/**/*.xml

logging:
  file:
    path: /home/logs/springBoot